---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import HeroImage from "../../public/images/DVD-Sikirevci-vatrogasni-dom-i-vatrogasna-vozila.jpg";
---

<DefaultLayout title="VZO">
  <Hero
    HeroImage={HeroImage}
    alt="Vatrograsni dom i vozila DVD-a Sikirevci"
    title="Vatrogasna Zajednica Općine"
  />
  <h2>Vatrogasna zajednica općine Sikirevci</h2>
  <p>OIB: 80600094163</p>
  <br />

  <address>
    <p>Alojzija Stepinca 9, Sikirevci</p>
    <p>dvdsikirevci2@gmail.com</p>
  </address>
  <br />
  <div></div>
  <div>
    <h3>Vodstvo VZO-a</h3>
    <div><span>Zapovjednik:</span><span>Martin Živić - 0911444521</span></div>
    <div>
      <span>Predsjednik:</span><span>Đuro Radovanović - 0911444571</span>
    </div>
    <div><span>Tajnik:</span><span>Krunoslav Nikolić - 0919853828</span></div>
  </div>
</DefaultLayout>
