---
import Logo from "/images/DVD-Sikirevci-logo.png";
---

<footer class="flex flex-col bg-lightgray p-16 align-middle">
  <div class="flex flex-col text-center">
    <div class="self-center text-center">
      <h3 class="sm:text-2xl font-bold">Dobrovoljno vatrogasno društvo Sikirevci</h3>
      <span>OIB: 68873774377</span>
    </div>
  </div>
  <address class="flex flex-col text-center gap-4 py-4">
    <p class="">Ulica K. A. Stepinca 9, 35224 Sikirevci</p>
    <span>dvdsikirevci2@gmail.com</span>
    <span> Zapovjednik: Martin Živić <span class="block">091 144 4521</span></span>
  </address>
</footer>

