---
const { HeroImage, AltText, title, subtitle } = Astro.props;
---

<div class="text-center">
  <img
    src={HeroImage}
    alt={AltText}
    class="w-[100%] max-h-[400px] object-cover"
  />
  <div class="bg-highlightred rounded-b-md p-2 p-4">
    <h1>{title}</h1>
    <h2 class="text-white">{subtitle}</h2>
  </div>
</div>
