---
import Logo from "../../public/images/DVD-Sikirevci-logo.png";
---

<div class="p-4 flex justify-between">
  <nav class="sm:mr-0 sm:ml-auto flex justify-between basis-[95%]">
    <a href="http://dvdsikirevci.hr"
      ><img
        src={Logo}
        alt="Grb DVD-a Sikirevci"
        class="w-[50px] md:w-[75px] self-start"
      />
    </a>
    <ul
      class="hidden flex-col w-[100%] sm:flex sm:flex-row sm:w-[50%] justify-between text-center font-bold"
      id="navigation"
    >
      <li class="py-2 self-center hover:underline"><a href="/">Početna</a></li>
      <li class="py-2 self-center hover:underline">
        <a href="/onama">O nama</a>
      </li>
      <li class="py-2 self-center hover:underline">
        <a href="/obavijesti">Obavijesti</a>
      </li>
      <li class="py-2 self-center hover:underline">
        <a href="/kontakt">Kontakt</a>
      </li>
      <li
        class="py-2 self-center hover:underline bg-darkgray px-4 text-white rounded justify-self-center"
      >
        <a href="/vzo">VZO</a>
      </li>
    </ul>
  </nav>
  <button
    type="button"
    class="visible sm:invisible bg-darkgray w-[50px] h-[50px] text-white rounded"
    id="toggle">=</button
  >
</div>

<script>
  const toggle = document.querySelector("#toggle");
  const navigation = document.querySelector("#navigation");
  toggle.addEventListener("click", () => {
    navigation.classList.toggle("hidden");
  });
</script>
